.Pro-Cont {
  height: 100vh;
  width: 100%;    /* safe */
  background-color: rgb(1, 10, 28);
  position: relative;
}

.proj-h1 { position: absolute; top: 12%; left: 50%; transform: translateX(-50%); color: #0099FF; font-size: 1.8rem; }

.proj-card, .proj-card1, .proj-card2, .proj-card3 {
  position: absolute;
  height: 32vh;
  width: 25%;    /* % safer */
  border-radius: 8px;
  background-color: rgba(19, 57, 132, 0.141);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.proj-card, .proj-card1, .proj-card2, .proj-card3:hover {
  transform: translateY(-8px) scale(1.05);
}

.proj-card { left: 20%; top: 24%; }
.proj-card1 { left: 55%; top: 24%; }
.proj-card2 { left: 20%; top: 60%; }
.proj-card3 { left: 55%; top: 60%; }
