* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Skill-Cont {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(1,10,28);
  color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 60px 20px;
   
}

.Skill-h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0099FF;
  padding: 20px;
}

.Skill-p {
  margin-bottom: 50px;
  font-size: 18px;
}

/* Grid with 3 columns, 2 rows */
.Skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

/* Skill Card */
.Skill-card1 {
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height: 22vh;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 50%;
}
.Skill-card2 {
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height: 22vh;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
margin-left: 10%;
  
}
.Skill-card3{
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height: 22vh;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-right: 50%;
}
.Skill-card4 {
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height: 22vh;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 50%;
  
}
.Skill-card5{
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height: 22vh;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 10%;
}
.Skill-card6 {
  background-color: rgba(19, 57, 132, 0.141);
  border-radius: 12px;
  width: 50%;
  height:22vh ;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
   margin-right: 50%;  
   
   
}
.icon{  
font-size: 40px;
margin-top: 25px;

}

/* Hover animation */
.Skill-card1:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}
.Skill-card2:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}
.Skill-card3:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}
.Skill-card4:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}
.Skill-card5:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}
.Skill-card6:hover {
  transform: translateY(-8px) scale(1.05);
  color: #0099FF;
}

/* BODERS COLORS */
.Skill-card1.html { border: 2px solid #E34F26;  }
.Skill-card2.css { border: 2px solid #1572B6;  }
.Skill-card3.js { border: 2px solid #F7DF1E; }
.Skill-card4.react { border: 2px solid #61DAFB; }
.Skill-card5.git { border: 2px solid #F05032;  }
.Skill-card6.github { border: 2px solid #090808;  }
